<div class="nav-title-container">
    <div class="nav-title-text" style="text-align:center">
        <h1>
            Welcome to Am-I-Happy!
        </h1>
    </div>
    <div class="nav-title-buttons">
        <div>
            <a [title]="'Sign in'" [routerLink]="'/authenticate'">
                Log in
            </a>
        </div>
        <div>
            <a [title]="'Create account'" [routerLink]="'/create-account'">
                Create account
            </a>
        </div>
    </div>
</div>