<div>
  <div>
      <a [title]="'Sign in'" [routerLink]="'/authenticate'">
        Log in
      </a>
  </div>
  <div>
      <a [title]="'Create account'" [routerLink]="'/create-account'">
        Create account
      </a>
  </div>
</div>
<div style="text-align:center">
  <h1>
    Welcome to Am-I-Happy!
  </h1>
</div>
<ul>
  <li>
    <h2>
      <a [title]="'Add emotion'" [routerLink]="'/emotion-add'">
        Add emotion
      </a>
    </h2>
  </li>
  <li>
    <h2>
      <a [title]="'Emotions today'" [routerLink]="'/emotions-today'">
        Emotions today
      </a>
    </h2>
  </li>
  <li>
    <h2>
      <a [title]="'Emotions statistics'" [routerLink]="'/emotions-statistics'">
        Emotions statistics
      </a>
    </h2>
  </li>
  <li>
    <h2>
      <a [title]="'Settings'" [routerLink]="'/settings'">
        Settings
      </a>
    </h2>
  </li>
</ul>

<router-outlet></router-outlet>
